In [2]:
#Loading the original tables into dataframes
#df_accident=pd.read_csv('~/code/MagicaBleps/UK-road-safety/raw_data/dft-road-casualty-statistics-accident-1979-2021.csv', sep=',', header=0)
#df_vehicle=pd.read_csv('~/code/MagicaBleps/UK-road-safety/raw_data/dft-road-casualty-statistics-vehicle-1979-2021.csv', sep=',', header=0)
#df_casualty=pd.read_csv('~/code/MagicaBleps/UK-road-safety/raw_data/dft-road-casualty-statistics-casualty-1979-2021.csv', sep=',', header=0)

In [87]:
import pygeohash as gh
import pandas as pd
import sys
import os
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%load_ext autoreload
%autoreload 2

sys.path.append(os.path.dirname(sys.path[0]))

from python.data_cleaning import prepare_data_for_groupby
from python.grouped_data import data_for_analysis

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
#Filtering the dataframes to get dta from 1999 only
#df_accident_1999=df_accident[df_accident['accident_year']>=1999]
#df_vehicle_1999=df_vehicle[df_vehicle['accident_year']>=1999]
#df_casualty_1999=df_casualty[df_casualty['accident_year']>=1999]

In [3]:
#Exporting the data from 1999 as csv files --> the new raw data files
#df_accident_1999.to_csv('~/code/MagicaBleps/UK-road-safety/raw_data/dft-road-casualty-statistics-accident-1999-2021.csv')
#df_vehicle_1999.to_csv('~/code/MagicaBleps/UK-road-safety/raw_data/dft-road-casualty-statistics-vehicle-1999-2021.csv')
#df_casualty_1999.to_csv('~/code/MagicaBleps/UK-road-safety/raw_data/dft-road-casualty-statistics-casualty-1999-2021.csv')

In [4]:
df_accidents=pd.read_csv('~/code/MagicaBleps/UK-road-safety/raw_data/dft-road-casualty-statistics-accident-1999-2021.csv', index_col=0)
df_accidents.head()

/tmp/ipykernel_31702/1322138315.py:1: DtypeWarning: Columns (1,3,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_accidents=pd.read_csv('~/code/MagicaBleps/UK-road-safety/raw_data/dft-road-casualty-statistics-accident-1999-2021.csv', index_col=0)

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
4883216,1999010SU0945,1999,010SU0945,519490.0,203300.0,-0.271752,51.715661,1,3,1,...,0,1,4,1,0,0,2,1,1,E01023583
4883217,1999010SU0946,1999,010SU0946,521740.0,201070.0,-0.239977,51.695136,1,3,2,...,0,6,4,1,0,0,2,1,1,E01023584
4883218,1999010SU0947,1999,010SU0947,519610.0,203240.0,-0.270037,51.715096,1,3,2,...,0,4,1,2,0,0,2,1,1,E01023583
4883219,1999010SU0948,1999,010SU0948,520090.0,202830.0,-0.263233,51.711309,1,2,2,...,0,6,1,1,0,0,2,1,1,E01023583
4883220,1999010SU0949,1999,010SU0949,522640.0,200320.0,-0.227225,51.688200,1,3,4,...,0,1,1,2,0,0,2,1,1,E01023584

In [57]:
#Creating a small dataset to be loaded quickly
df_accidents_small=df_accidents[df_accidents['accident_year']==2019]
df_accidents_small.to_csv('~/code/MagicaBleps/UK-road-safety/raw_data/dft-road-casualty-statistics-accident-small.csv')

In [66]:
test=prepare_data_for_groupby(df_accidents,6)

In [67]:
test_data=data_for_analysis(test,granularity='W')
test_data.head(52)

                       Accidents
date
1998-12-29/1999-01-04       1586
1999-01-05/1999-01-11       4623
1999-01-12/1999-01-18       5000
1999-01-19/1999-01-25       4589
1999-01-26/1999-02-01       4137
1999-02-02/1999-02-08       3986
1999-02-09/1999-02-15       4320
1999-02-16/1999-02-22       3902
1999-02-23/1999-03-01       4321
1999-03-02/1999-03-08       4452
1999-03-09/1999-03-15       4116
1999-03-16/1999-03-22       4046
1999-03-23/1999-03-29       4299
1999-03-30/1999-04-05       3906
1999-04-06/1999-04-12       3969
1999-04-13/1999-04-19       4480
1999-04-20/1999-04-26       4657
1999-04-27/1999-05-03       4227
1999-05-04/1999-05-10       4301
1999-05-11/1999-05-17       4233
1999-05-18/1999-05-24       4252
1999-05-25/1999-05-31       4195
1999-06-01/1999-06-07       4599
1999-06-08/1999-06-14       4143
1999-06-15/1999-06-21       4566
1999-06-22/1999-06-28       4563
1999-06-29/1999-07-05       4562
1999-07-06/1999-07-12       4623
1999-07-13/1999-07-19       4277
1999-07-20/1999-07-26       4481
1999-07-27/1999-08-02       4473
1999-08-03/1999-08-09       4674
1999-08-10/1999-08-16       4192
1999-08-17/1999-08-23       4357
1999-08-24/1999-08-30       4206
1999-08-31/1999-09-06       4271
1999-09-07/1999-09-13       4538
1999-09-14/1999-09-20       5057
1999-09-21/1999-09-27       5069
1999-09-28/1999-10-04       5070
1999-10-05/1999-10-11       4507
1999-10-12/1999-10-18       4291
1999-10-19/1999-10-25       5190
1999-10-26/1999-11-01       4527
1999-11-02/1999-11-08       4892
1999-11-09/1999-11-15       4722
1999-11-16/1999-11-22       5328
1999-11-23/1999-11-29       4991
1999-11-30/1999-12-06       5190
1999-12-07/1999-12-13       5644
1999-12-14/1999-12-20       5262
1999-12-21/1999-12-27       3986

In [68]:
test_data.shape

(1201, 1)

In [69]:
hashes=pd.DataFrame(test[['geohash','accident_year']].groupby('geohash').count())
hashes.columns=['Accidents']
hashes.sort_values('Accidents',inplace=True,ascending=False)
hashes.shape

(184578, 1)

In [70]:
hashes.describe()

           Accidents
count  184578.000000
mean       20.676852
std        57.175713
min         1.000000
25%         2.000000
50%         5.000000
75%        16.000000
max      2045.000000

In [71]:
hashes[hashes['Accidents']>=100]

         Accidents
geohash
gcpvj0        2045
gcpvhc        1959
gcpvj4        1871
gcpvj1        1816
gcpuv2        1744
...            ...
gcwzyg         100
gcx6bn         100
u120gg         100
gcw9yf         100
gcpneb         100

[8155 rows x 1 columns]

In [74]:
#Isolating the square where there are more accidents
max_square=hashes[hashes['Accidents']==hashes.Accidents.max()].index[0]
max_square

'gcpvj0'

In [79]:
#Filtering the data for the max_square
test_max_square=test[test['geohash']==max_square]
test_max_square.head()

,accident_year,longitude,latitude,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,IsWeekend,month,Daytime,geohash
4884739,1999,-0.131754,51.508398,3,2,1,1999-02-14,1,20:45,True,2,evening (19-23),gcpvj0
4884741,1999,-0.131211,51.507580,3,2,1,1999-02-20,7,17:10,False,2,afternoon rush (15-19),gcpvj0
4884745,1999,-0.131754,51.508398,3,2,2,1999-02-16,3,22:40,False,2,evening (19-23),gcpvj0
4884776,1999,-0.131617,51.508215,3,1,1,1999-03-30,3,18:50,False,3,afternoon rush (15-19),gcpvj0
4884779,1999,-0.131754,51.508398,3,2,1,1999-03-19,6,20:49,False,3,evening (19-23),gcpvj0

In [81]:
test_data_max_square=data_for_analysis(test_max_square,'W')
test_data_max_square.head(50)

                       Accidents
date
1998-12-29/1999-01-04          1
1999-01-05/1999-01-11          1
1999-01-12/1999-01-18          1
1999-01-19/1999-01-25          1
1999-01-26/1999-02-01          1
1999-02-02/1999-02-08          4
1999-02-09/1999-02-15          3
1999-02-16/1999-02-22          5
1999-02-23/1999-03-01          2
1999-03-02/1999-03-08          2
1999-03-09/1999-03-15          5
1999-03-16/1999-03-22          7
1999-03-23/1999-03-29          1
1999-03-30/1999-04-05          6
1999-04-06/1999-04-12          5
1999-04-13/1999-04-19          2
1999-04-20/1999-04-26          1
1999-04-27/1999-05-03          3
1999-05-04/1999-05-10          1
1999-05-11/1999-05-17          5
1999-05-18/1999-05-24          3
1999-05-25/1999-05-31          3
1999-06-01/1999-06-07          1
1999-06-08/1999-06-14          3
1999-06-15/1999-06-21          8
1999-06-22/1999-06-28          2
1999-06-29/1999-07-05          4
1999-07-06/1999-07-12          4
1999-07-13/1999-07-19          2
1999-07-20/1999-07-26          4
1999-07-27/1999-08-02          3
1999-08-03/1999-08-09          9
1999-08-10/1999-08-16          3
1999-08-17/1999-08-23          5
1999-08-24/1999-08-30          3
1999-08-31/1999-09-06          2
1999-09-07/1999-09-13          3
1999-09-14/1999-09-20          3
1999-09-21/1999-09-27          0
1999-09-28/1999-10-04          3
1999-10-05/1999-10-11          4
1999-10-12/1999-10-18          3
1999-10-19/1999-10-25          3
1999-10-26/1999-11-01          5
1999-11-02/1999-11-08          4
1999-11-09/1999-11-15          5
1999-11-16/1999-11-22          4
1999-11-23/1999-11-29          3
1999-11-30/1999-12-06          4
1999-12-07/1999-12-13          3

In [120]:
FOLD_LENGTH=156 #each fold spans over 3 years
FOLD_STRIDE=52 #we have a  fold every 4 weeks

In [84]:
def get_folds(
    df,
    fold_length,
    fold_stride):
    '''
    This function slides through the Time Series dataframe of shape (n_timesteps, n_features) to create folds
    - of equal `fold_length`
    - using `fold_stride` between each fold
    Returns a list of folds, each as a DataFrame
    '''
    folds=[]
    for index in range(0,df.shape[0]-fold_length,fold_stride):
        fold=df[index:index+fold_length]
        folds.append(fold)
    return folds

In [121]:
folds=get_folds(test_data_max_square,FOLD_LENGTH,FOLD_STRIDE)
np.array(folds).shape

(21, 156, 1)

In [122]:
fold1=folds[0]

In [89]:
INPUT_LENGTH=20 #every X_i sequence is 20 weeks long
TRAIN_TEST_RATIO=.66 #in each fold, we use 2 years for trainng and 1 year for test
OUTPUT_LENGTH=4

In [103]:
def train_test_split(fold,
                     train_test_ratio,
                     input_length):
    '''
    Returns a train dataframe and a test dataframe (fold_train, fold_test)
    from which one can sample (X,y) sequences.
    df_train should contain all the timesteps until round(train_test_ratio * len(fold))   
    '''
    # TRAIN SET
    last_train_idx = round(train_test_ratio * len(fold))
    train_fold = fold.iloc[0:last_train_idx, :]
    

    # TEST SET
    first_test_idx = last_train_idx - input_length
    test_fold = fold.iloc[first_test_idx:, :]
    
    return (train_fold, test_fold)

In [119]:
(fold1_train, fold1_test) = train_test_split(fold1, TRAIN_TEST_RATIO, INPUT_LENGTH)
fold1_train.shape

(103, 1)

In [108]:
SEQUENCE_STRIDE = 1
TARGET='Accidents'

In [109]:
def get_X_y_strides(fold, input_length, output_length, sequence_stride):
    '''
    - slides through a `fold` Time Series (2D array) to create sequences of equal
        * `input_length` for X,
        * `output_length` for y,
    using a temporal gap `sequence_stride` between each sequence
    - returns a list of sequences, each as a 2D-array time series
    '''

    X, y = [], []

    for i in range(0, len(fold), sequence_stride):
        # Exits the loop as soon as the last fold index would exceed the last index
        if (i + input_length + output_length) > len(fold):
            break
        X_i = fold.iloc[i:i + input_length, :]
        y_i = fold.iloc[i + input_length:i + input_length + output_length, :][[TARGET]]
        X.append(X_i)
        y.append(y_i)

    return np.array(X), np.array(y)

In [123]:
X_train1, y_train1 = get_X_y_strides(fold1_train,INPUT_LENGTH,OUTPUT_LENGTH,SEQUENCE_STRIDE)

In [124]:
X_train1.shape

(80, 20, 1)

In [125]:
X_test1, y_test1 = get_X_y_strides(fold1_test,INPUT_LENGTH,OUTPUT_LENGTH,SEQUENCE_STRIDE)

In [126]:
X_test1.shape

(50, 20, 1)

In [113]:
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras import optimizers, metrics
from tensorflow.keras.layers.experimental.preprocessing import Normalization

2022-12-07 12:15:14.669102: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-12-07 12:15:15.198079: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-12-07 12:15:15.198102: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-12-07 12:15:17.852332: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-12-07 12:15:17.852495: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-12-07 12:15:17.852507: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [114]:
def init_model(X_train, y_train):
    
    # 0 - Normalization    
    normalizer = Normalization()
    normalizer.adapt(X_train)
    
    # 1 - RNN architecture   
    model = models.Sequential()
    ## 1.0 - All the rows will be standardized through the already adapted normalization layer
    model.add(normalizer)
    ## 1.1 - Recurrent Layer
    model.add(layers.LSTM(64, 
                          activation='tanh', 
                          return_sequences = False,
                          recurrent_dropout = 0.3))
    ## 1.2 - Predictive Dense Layers
    output_length = y_train.shape[1]
    model.add(layers.Dense(output_length, activation='linear'))

    # 2 - Compiler
    # ======================    
    adam = optimizers.Adam(learning_rate=0.02)    
    model.compile(loss='mse', optimizer=adam, metrics=["mae"])
    
    return model

In [115]:
from tensorflow.keras.callbacks import EarlyStopping

def fit_model(model, X_train, y_train, verbose=1):

    es = EarlyStopping(monitor = "val_loss",
                      patience = 3,
                      mode = "min",
                      restore_best_weights = True)


    history = model.fit(X_train, y_train,
                        validation_split = 0.3,
                        shuffle = False,
                        batch_size = 32,
                        epochs = 50,
                        callbacks = [es],
                        verbose = verbose)

    return model, history

In [136]:
from tensorflow.keras.layers import Lambda

def init_baseline():

    model = models.Sequential()
    model.add(layers.Lambda(lambda x: x[:,-OUTPUT_LENGTH:,0,None]))

    adam = optimizers.Adam(learning_rate=0.02)
    model.compile(loss='mse', optimizer=adam, metrics=["mae"])

    return model

In [137]:
baseline_model = init_baseline()
baseline_score = baseline_model.evaluate(X_test1, y_test1)
print(f"- The Baseline MAE on the test set is equal to {round(baseline_score[1])} accidents")

2022-12-07 13:23:33.618324: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:967] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2022-12-07 13:23:33.618576: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-12-07 13:23:33.618707: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublas.so.11'; dlerror: libcublas.so.11: cannot open shared object file: No such file or directory
2022-12-07 13:23:33.618796: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublasLt.so.11'; dlerror: libcublasLt.so.11: cannot open shared object file: No such file or directory
2022-12-07 13:23:33.618881: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcufft.so.10'; dlerror: libcufft.so.10: cannot open shared object file: No such file or directory
2022-12-07 13:23:33.618986: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcurand.so.10'; dlerror: libcurand.so.10: cannot open shared object file: No such file or directory
2022-12-07 13:23:33.619098: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusolver.so.11'; dlerror: libcusolver.so.11: cannot open shared object file: No such file or directory
2022-12-07 13:23:33.619228: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusparse.so.11'; dlerror: libcusparse.so.11: cannot open shared object file: No such file or directory
2022-12-07 13:23:33.619328: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudnn.so.8'; dlerror: libcudnn.so.8: cannot open shared object file: No such file or directory
2022-12-07 13:23:33.619346: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1934] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...
2022-12-07 13:23:33.620700: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

2/2 [==============================] - 0s 13ms/step - loss: 4.6400 - mae: 1.6950
- The Baseline MAE on the test set is equal to 2 accidents